/* Main info */

.main-info-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75vw;
}

.main-info-data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-info-data h2 {
  font-size: 3rem;
}

.main-info-data p {
  margin-bottom: 1.25rem;
  font-size: 2rem;
  font-weight: 500;
}

.main-info-data input {
  display: block;
  margin-bottom: 15px;
  width: 30vw;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.main-info-data .edit-main-info-btn {
  position: absolute;
  bottom: 20;
  right: 0;
  background-color: transparent;
  border: 0;
}

.edit-main-info-btn div {
  padding: 5px 8px;
  border: 3px solid #37aa9c;
  font-size: 2rem;
  color: #37aa9c;
}

.main-info-data .my-vacancies-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 0;
}

.my-vacancies-btn div {
  padding: 10px 15px;
  border: 3px solid rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.main-info-side .name-input {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.main-info-side .url-input {
  font-size: 2rem;
}

/* Main info */

/* Company Invitation */

.check-box {
  padding: 10px 10px;
  background-color: #1f1f21;
  border-radius: 20px;
}

.check-box h2 {
  font-size: 2rem;
  text-align: center;
}

.check-box h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.check-box a {
  font-weight: 600;
  text-decoration: underline;
}

.continue-btn {
  padding: 15px 20px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.image-container {
  margin: auto;
  margin-bottom: 30px;
  width: 40%;
}

.image-container img {
  width: 100%;
  height: auto;
}

/* Company Invitation */
