.vacancy-container {
  position: relative;
  margin-top: 60px;
  display: flex;
  gap: 10%;
}

.main-info {
  width: 70%;
}

.main-info h2 {
  margin-bottom: 15px;
  font-size: 2rem;
}

.main-info h1 {
  margin-bottom: 40px;
  font-size: 3rem;
}

.main-info p {
  font-size: 1.5rem;
}

.main-info h3 {
  font-size: 2rem;
}

.details {
  margin-bottom: 50px;
}

.main-info section {
  margin-bottom: 30px;
}

.main-info section h3 {
  margin-bottom: 10px;
}

.date-views-row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 1.25rem;
}

.date-views-row h4 span {
  font-weight: 400;
}

.bottom-row {
  display: flex;
  gap: 2%;
  padding-top: 10px;
}

.apply-btn,
.edit-link div,
.del-btn div,
.applications-link div {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 0;
  border-radius: 30px;
  color: #1f1f21;
  font-size: 1.5rem;
  font-weight: 500;
}

.applications-link div {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.edit-link {
  display: block;
}

.edit-link div {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  border: 2px solid white;
}

.del-btn {
  display: block;
  background-color: transparent;
  border: 0;
}

.del-btn div {
  border: 2px solid #f37199;
  background-color: transparent;
  color: #f37199;
}
