.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
  height: 80vh;
}

.sign-up-form {
  margin: auto;
  padding: 25px 30px;
  background-color: #1f1f21;
  border: 3px solid #37aa9c;
  border-radius: 20px;
}

.sign-up-form h3 {
  margin-bottom: 15px;
  font-size: 2rem;
}

.sign-up-form h5 {
  margin-bottom: 30px;
  font-size: 1.25rem;
  font-weight: 400;
}

/* Role Form */

.role-form-container {
  margin: auto;
  padding: 10px 15px;
  background-color: #1f1f21;
}

.role-form-container h3 {
  margin-bottom: 15px;
  font-size: 2rem;
}

.role-form-container h5 {
  margin-bottom: 30px;
  font-size: 1.25rem;
  font-weight: 400;
}

.hidden {
  display: none;
}

.role-form {
  display: flex;
  gap: 30px;
}

.role-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: white;
  border: 0;
  border-radius: 5px;
}

.role-btn span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f1f21;
}

.role-btn:hover {
  cursor: pointer;
}

.role-btn input[type='radio'] {
  display: none;
}

.link {
  font-size: 1rem;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  color: white;
}

/* Role Form */

/* Create Account Item */

.go-back-btn {
  padding: 15px 20px;
  font-size: 1.25rem;
  background-color: transparent;
  border: 0;
  color: white;
}

.go-back-btn svg {
  margin-right: 10px;
}

.continue-btn {
  padding: 15px 20px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.form-input {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: rgb(257, 257, 257);
  border: 0;
  border-radius: 10px;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
}

.form-input:last-child {
  margin-bottom: 30px;
}

.error-container {
  margin-bottom: 30px;
}

/* Create Account Item */

/* ConfirmBoxItem */

.image-container {
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
}

.image-container img {
  width: 100%;
  height: auto;
}

/* ConfirmBoxItem */

/* Sign In */

.sign-in-btn,
.forgot-pass-btn {
  padding: 15px 50px;
  background-color: white;
  border: 0;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f1f21;
}

/* Sign In */

/* Reset Pass */

.info-container {
  margin-bottom: 20px;
}

.forgot-pass-btn {
  padding: 15px 50px;
  font-size: 1.5rem;
}

/* Reset Pass */
