/* SearchBar */

.searchbar-wrapper {
  position: relative;
  margin-bottom: 130px;
}

.searchbar-wrapper-applications {
  position: relative;
  margin-bottom: 0;
}

.searchbar-container {
  position: absolute;
  display: flex;
  gap: 3%;
  width: 100%;
  margin-bottom: 60px;
}

.searchbar-container button {
  background: transparent;
  border: 0;
}

.searchbar-container span,
.searchbar-container label {
  font-size: 1.25rem;
}

.btn-search-container {
  display: flex;
  gap: 2%;
  width: 80%;
}

.add-vacancy-btn {
  width: 15%;
}

.add-vacancy-btn div {
  padding: 15px 20px;
  width: 100%;
  background-color: #37aa9c;
  border: 3px solid #37aa9c;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

/* SearchBar */

/* InputContainer */
.input-wrapper {
  position: relative;
  width: 100%;
}

.input-container {
  padding: 18px 20px;
  width: 100%;

  background-color: white;
  border-radius: 10px;
  background-color: white;
  border: none;
  font-size: 1.5rem;
  color: rgb(0, 0, 0, 0.7);
}

.search-btn div {
  position: absolute;
  top: 7px;
  right: 8px;
  padding: 7px 10px;
  background-color: #1f1f21;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  color: white;
}

/*  InputContainer */

/* TagBox */
.tag-box {
  padding: 20px;
  margin-bottom: 2rem;
  width: 20%;
  background-color: #1f1f21;
  border: 3px solid #37aa9c;
  border-radius: 10px;
}

.tag-box label {
  display: inline-block;
  padding-bottom: 10px;
}

.tag-box h3 {
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid white;
}

.more-btn {
  margin-top: 10px;
  text-decoration: underline;
  font-size: 1.25rem;
}

.tags-search-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tags-search-btn div {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f1f21;
  text-align: center;
}

/* TagBox */

/* Responsiveness */

@media (max-width: 1700px) {
  .add-vacancy-btn div {
    font-size: 1.25rem;
  }
  .input-container {
    font-size: 1.25rem;
  }
  .search-btn div {
    top: 9;
    padding: 5px 7px;
    font-size: 1.75rem;
  }
}

@media (max-width: 1500px) {
  .add-vacancy-btn div {
    padding: 15px 15px;
  }
}

@media (max-width: 1350px) {
  .add-vacancy-btn div {
    padding: 15px 15px;
    font-size: 1rem;
  }
  .input-container {
    font-size: 1rem;
  }
  .search-btn div {
    padding: 5px 7px;
    font-size: 1.5rem;
  }
  .tag-box h3 {
    font-size: 1rem;
  }
  .radio {
    font-size: 1rem;
  }
}

/* Responsiveness */
