.main-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create-btn {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 2px solid #fff !important;
}
