.main-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create-btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  border: 3px solid #fff !important;
}
