.info-box {
  position: relative;
  padding: 25px 30px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #1f1f21;
  border: 3px solid #37aa9c;
  border-radius: 10px;
}

.info-box h3 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.info-box p {
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.info-box p:last-child {
  margin-bottom: 0;
}

.info-item {
  padding: 20px 25px;
  margin-bottom: 15px;
  background-color: #1f1f21;
  border: 3px solid white;
  border-radius: 10px;
}

.info-item:last-child {
  margin-bottom: 10px;
}

.item-header-row {
  margin-bottom: 30px;
}

.info-item h4 {
  font-size: 1.75rem;
}

.date {
  font-size: 1.1rem;
}

.edit-info-btn div {
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
}

/* General form styles */

.form-del-btn div {
  padding: 8px 10px;
  background-color: #f37199;
  border: 2px solid #f37199;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
}

.form-btn-container {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 10px;
}

.form-btn-container button {
  background-color: transparent;
  border: 0;
}

.form-btn-container button div {
  padding: 8px 12px;
  font-size: 1.25rem;
  font-weight: 500;
}

.add-save-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.add-save-btn-container button div {
  padding: 8px 12px;
  font-size: 1.25rem;
  font-weight: 500;
}

.save-btns-container {
  display: flex;
  gap: 1.5rem;
}

.form-input {
  padding: 10px 15px;
  width: 15%;
  background-color: #1f1f21;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}

.form-details {
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.request-error-container div {
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

.form-error {
  margin-bottom: 15px;
}

/* General form styles */

Role Form .role-form-container {
  margin: auto;
  padding: 10px 15px;
  background-color: #1f1f21;
}

.role-form-container h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.role-form {
  display: flex;
  gap: 30px;
}

.role-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: white;
  border: 0;
  border-radius: 5px;
}

.role-btn span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f1f21;
}

.role-btn:hover {
  cursor: pointer;
}

.role-btn input[type='radio'] {
  display: none;
}

/* Role Form */

/* Profile Container */
.profile-form-container .link {
  padding: 10px 20px;
  font-size: 1.5rem;
  text-decoration: underline;
}

.profile-container button {
  background-color: transparent;
  border: 0;
}

.page-header {
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 500;
}

.main-info {
  display: flex;
  gap: 3%;
  position: relative;
  margin-bottom: 2.5rem;
  width: 100%;
}

.main-info-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75vw;
}

.skills-open-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.change-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white !important;
  border-radius: 10px;
  font-size: 1.5rem;
}

.logout-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.logout-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 3px solid #f37199 !important;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #f37199;
}

.profile-message-box {
  margin: 2rem;
}

.created-at {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 400;
}

.created-at span {
  font-weight: 500;
}

/* Profile Container */

/* Avatar */
.avatar-btn {
  height: 100%;
}
.avatar-btn img {
  border: 3px solid #37aa9c;
  border-radius: 10px;
}

.avatar-form {
  padding: 0.5rem;
}

.avatar-form .validation-error {
  margin-top: 20px;
}

.avatar-form .request-error {
  margin-top: 20px;
}

.avatar-form-container {
  display: flex;
  gap: 3%;
  width: 40vw;
}

.avatar-form-container input {
  margin-bottom: 0;
}

.avatar-form-container .info-form-btn {
  background-color: transparent;
  border: 0;
}

.avatar-form-container .info-form-btn div {
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Avatar */

/* Skills */

.skills {
  display: flex;
  gap: 30px;
}

.skills .form-input {
  width: 100%;
}

.skills span {
  display: block;
  padding: 10px 30px;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #1f1f21;
}

.skills .no-skills {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn-container {
  display: flex;
  gap: 15px;
}

.btn-container button div {
  padding: 5px 8px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1.5rem;
}

.skills-check-btn div,
.skills-cross-btn div {
  background-color: white;
  color: #1f1f21;
}

.skills-cross-btn div {
  padding: 5px 9.5px !important;
}

.skills-form {
  display: flex;
  gap: 2%;
}

/* Skills */

/* Personal Info */

.personal-info h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.personal-info p {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 500;
}

.personal-info input {
  display: block;
  margin-bottom: 15px;
  width: 30vw;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.personal-info .birthdate-input {
  width: 15vw;
}

.personal-info .name-input {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.personal-info .name-input:first-of-type {
  margin-top: 30px;
  margin-bottom: 10px;
}

.personal-info .address-input {
  padding: 10px 0;
}

.edit-personal-info-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: 0;
}

.edit-personal-info-btn div {
  padding: 5px 8px;
  border: 2px solid #37aa9c;
  border-radius: 5px;
  font-size: 2rem;
  color: #37aa9c;
}

.personal-info-btn-container {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.personal-info-btn div,
.personal-info-btn-cross div {
  padding: 5px 8px;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 2rem;
  color: #1f1f21;
}

.personal-info-btn-cross div {
  padding: 5px 10px;
}

.personal-info-error-container div {
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

.open-to-work div,
.not-open-to-work div {
  display: inline-block;
  padding: 10px 20px;

  background-color: #37aa9c;
  border: 2px solid #37aa9c;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.not-open-to-work div {
  background-color: transparent;
  border: 2px solid white;
}
/* Personal Info */

/* Contacts */

.icon-link {
  position: relative;
}

.icon-link div {
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  font-size: 1.25rem;
  color: #1f1f21;
}

.copied-tooltip {
  position: absolute;
  top: -20;
  right: -70;
  z-index: 10;
  padding: 5px 10px;
  background-color: #1f1f21;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.25rem;
}

.contacts {
  display: flex;
  gap: 1.25%;
  margin-bottom: 30px;
}

.contacts h3 {
  display: inline;
  font-size: 1.5rem;
}

.contacts-btn-container {
  margin-top: 15px;
}

.edit-contacts-btn div {
  padding: 4px 7px;
  border: 2px solid white;
  border-radius: 7px;
  font-size: 1.25rem;
  color: white;
}

.contacts-form {
  padding: 10px;
  width: 30vw;
}

.contacts-form h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.contacts-form p {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.contacts-form input {
  padding: 10px 15px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.25rem;
}

.contacts-form-btn,
.contacts-form-btn-link {
  background-color: transparent;
  border: 0;
}

.contacts-form-btn div,
.contacts-form-btn-link div {
  padding: 8px 15px;
  background-color: white;
  border: 2px solid white;
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f1f21;
}

.contacts-form-btn-link div {
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  color: white;
}

/* Contacts */

/* Bio */

.info-form-btn div {
  background-color: white;
  border: 2px solid white;
  color: #1f1f21;
}

.bio-p {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Bio */

/* Experience */

.experience-group {
  margin-bottom: 25px;
  border-bottom: 2px solid white;
}

.experience-row {
  display: flex;
  gap: 1%;
  margin-bottom: 20px;
}

.experience-row .form-input:first-of-type {
  width: 20%;
}

.is-current {
  padding: 10px 20px;

  background-color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f1f21;
}

.experience-del-btn {
  margin-bottom: 20px;
}

.experience-checkbox {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}

.experience-checkbox-active {
  border: 2px solid white;
  border-radius: 10px;
}

.experience-checkbox label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
}

.experience-checkbox input {
  width: 16px;
  height: 16px;
  accent-color: #37aa9c;
  cursor: pointer;
}

/* Experience */

/* Education */

.education-row input:first-of-type {
  width: 25%;
}

/* Education */

/* Certificates */

.certificates-row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.certificates-row input:first-of-type {
  width: 25%;
}

.certificates-row input:last-of-type {
  width: 30%;
}

/* Certificates */

/* Languages */

.language-row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.language-row select:first-of-type {
  width: 20%;
}

.language-row select:last-of-type {
  width: 25%;
}

/* Languages */

/* Profile Form */

.profile-form-container {
  margin: 1rem;
  margin-bottom: 0.5rem;
}

.profile-form-container h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.profile-form-container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.profile-form {
  margin-bottom: 10px;
}

.profile-form p {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}

.profile-form input {
  padding: 15px 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.5rem;
}

.profile-form-btn {
  border: 0;
  background-color: transparent;
}

.profile-form-btn div {
  padding: 10px 40px;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1.75rem;
  font-weight: 500;
  color: #1f1f21;
}

.profile-form-container h5 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* Profile Form */
