.apply-btn {
  background-color: transparent;
  border: 0;
}

.apply-btn div {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 0;
  border-radius: 30px;
  color: #1f1f21;
  font-size: 1.5rem;
  font-weight: 500;
}

.application-container {
  display: flex;
  justify-content: space-between;
}

.application-container * {
  margin-bottom: 20px;
}

.application-container .left-container {
  width: 70vw;
  padding-right: 5vw;
}

.left-container > p {
  width: 100%;
  word-wrap: break-word;
  font-size: 1.25rem;
}
