.apply-btn {
  background-color: transparent;
  border: 0;
}

.apply-btn div {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 0;
  border-radius: 30px;
  color: #1f1f21;
  font-size: 1.5rem;
  font-weight: 500;
}

.vacancy-container {
  display: flex;
  justify-content: space-between;
}

.application-container button {
  background-color: transparent;
  border: 0;
}

.application-container > * {
  margin-bottom: 20px;
}

.application-container .left-container {
  width: 70vw;
  padding-right: 5vw;
}

.bottom-container > h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.bottom-container > p {
  margin-bottom: 20px;
  width: 100%;
  word-wrap: break-word;
  font-size: 1.25rem;
}

.bottom-container > p:first-of-type {
  margin-bottom: 30px;
}

.link-to-profile {
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-decoration: underline;
}

.status-row {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.status-row span,
.status-row button {
  font-size: 1.5rem;
}

.form-container {
  display: flex;
  gap: 10px;
}

.form-container .form-input {
  padding: 10px 15px;
  background-color: #1f1f21;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.btn-container button {
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 10px;
}
