.apply-btn {
  background-color: transparent;
  border: 0;
}

.apply-btn div {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 0;
  border-radius: 30px;
  color: #1f1f21;
  font-size: 1.5rem;
  font-weight: 500;
}
