.profile-container button {
  background-color: transparent;
  border: 0;
}

.page-header {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 500;
}

.main-info {
  display: flex;
  gap: 3%;
  position: relative;
  margin-bottom: 2.5rem;
  width: 100%;
}

.main-info-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75vw;
}

.skills-open-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-info-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: 0;
}

.edit-info-btn div {
  padding: 5px 8px;
  border: 2px solid #37aa9c;
  border-radius: 5px;
  font-size: 2rem;
  color: #37aa9c;
}

.logout-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 3px solid #f37199 !important;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #f37199;
}

.profile-message-box {
  margin: 2rem;
}

.created-at {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 400;
}

.created-at span {
  font-weight: 500;
}
