:root {
  --background: #ffffff;
  --foreground: #1a1a1b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1b;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

.container {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

input[type='range'] {
  accent-color: #37aa9c;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
}

.row-center {
  display: flex;
  justify-content: center;
}

.row-end {
  display: flex;
  justify-content: end;
}

.align-center {
  display: flex;
  align-items: center;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-size-1-5 {
  font-size: 1.5rem;
}

.underline-link {
  text-decoration: underline;
}

.page-header {
  margin-bottom: 40px;
  font-size: 3rem;
}
